.product-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  min-height: 100vh;
}

.product-list h2 {
  font-weight: 600;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}

.big-btn {
  margin-top: 50px;
  float: right;
  width: 278px;
  font-weight: 700;
  font-size: var(--button-size);
}

@media screen and (max-width: 768px) {
  .product-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .product-list h2 {
    margin: 32px 0 0;
    font-weight: 600;
  }

  .big-btn {
    width: 200px;
    font-weight: 700;
    font-size: var(--regular-size);
    margin-top: 30px;
  }
  .next {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 376px) {
  .product-list-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .product-list h2 {
    padding-left: 0;
  }

  .big-btn {
    width: 200px;
    font-weight: 700;
    font-size: var(--regular-size);
  }
}
