.product {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.product h1 {
  font-weight: 500;
  margin: 50px 0 32px 0;
}

.product .top {
  display: flex;
  align-items: center;
  width: 85%;
  gap: 70px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 694px;
  height: 595px;
  position: relative;
  border: 1px solid #0a3755;
}

.current-image {
  width: 500px;
  height: 500px;
  display: block;
}
.slide {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 25px;
  cursor: pointer;
}
.arrow-left {
  left: 2.2rem;
}
.arrow-right {
  right: 2.2rem;
}

.product .top .buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.small-btn,
.other {
  width: 221px;
  height: 61px;
  font-size: var(--regular-size);
  font-weight: 600;
  font-family: var(--button-font);
  cursor: pointer;
}

.other {
  background-color: #96c3d7;
  border: none;
}
.image-views {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 85%;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.image-views img {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}
.product-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-bottom .topic {
  margin-bottom: 20px;
  font-weight: 900;
}

.product-bottom .level {
  display: flex;
  justify-content: space-between;
}
.product-bottom .description {
  width: 100%;
  max-width: 845px;
  height: 331px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 50px 66px 20px;
  border: 1px solid #000;
  font-size: 14px;
  box-shadow: -5px 13px 5px -6px rgba(0, 0, 0, 0.4);
}

.product-bottom .description p:first-child,
.product-bottom .description p:nth-child(2) {
  font-weight: bold;
}

.product-bottom .notice {
  display: flex;
  flex-direction: column;
  max-width: 278px;
  height: 331px;
  align-items: center;
  padding: 5px 15px 20px 18px;
  border: 1px solid #000;
  display: flex;
  gap: 5px;
}

.product-bottom .notice small {
  line-height: 24px;
}
/* @media screen and (max-width: 786px) {
  .container {
    max-width: 700px;
  }
} */
