input[type='file'] {
    display: none;
}

.imageUploadplus {
    border: 1px solid #3C5A82;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    font-weight: 200;
    position: relative;
    right: -2px;
    top: 7px;
}
