.navbar {
  background-color: #96c3d7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 66px;
  gap: 70px;
  justify-content: space-around;
  padding: 51px 108px 51px 100px;
}
.menu {
  display: none;
}

.nav-lists,
.nav-icons {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav-icons {
  gap: 40px;
}

.basket {
  position: relative;
}
span.count {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -5px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sell-btn {
  width: 248px;
}
.donate-btn,
.login-btn {
  width: 150px;
}

.account-btn {
  width: 182px;
}

.nav-icons svg:first-child {
  width: 53px;
  height: 53px;
}
.nav-icons svg:nth-child(2) {
  width: 43px;
  height: 43px;
}

.note .note-lists {
  position: absolute;
  top: 0px;
  width: 480px;
  /* height: 865px; */
  height: auto;
  border: 2px solid #3c5a82;

  padding: 30px;
  background-color: #fff;
  z-index: 1;
  display: none;
  /* right: -480px; */
  /* right: 0; */
}

.show-note {
  right: 0%;
}

.note .note-lists li {
  font-size: var(--button-font);
  font-size: var(--small-size);
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  text-wrap: nowrap;
  line-height: 24px;
  margin: 30px 0;
  font-weight: 400;
}

@media screen and (max-width: 1204px) {
  .navbar {
    gap: 30px;
    padding: 51px 68px 51px 60px;
  }

  .nav-lists,
  .nav-icons {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-icons {
    gap: 30px;
  }
  .note ul {
    width: 400px;
  }
  .note ul li {
    text-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 51px 50px;
    position: relative;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    font-size: 35px;
    justify-content: center;
    background: transparent;
    border: none;
  }

  .nav-lists {
    position: absolute;
    display: block;
    left: 0;
    top: 80px;
    background-color: #96c3d7;
    width: 45%;
    height: 60vh;
    padding: 0 50px;
    margin-top: 20px;
    z-index: 10;
    transition: 0.5s;
    transform: translateX(-100%);
  }
  .nav-lists li {
    margin: 20px 0;
  }
  .show-menu {
    transform: translateX(0%);
  }
  .hide-menu {
    transform: translateX(-50%);
  }
  .nav-lists li:first-child {
    margin-top: 15px;
  }

  .nav-lists li .button {
    background: transparent;
  }
  .nav-icons {
    gap: 30px;
  }

  .note ul {
    width: 300px;
  }
  .note ul li {
    text-wrap: wrap;
  }
}

@media screen and (max-width: 376px) {
  .navbar {
    padding: 51px 20px;
  }

  .nav-lists {
    width: 100%;
    padding: 0 25px;
  }

  .show-menu {
    transform: translateX(0%);
  }

  .note ul {
    width: 250px;
  }
}
