@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --app-padding: 0 105px 50px 105px;
  --heading-one: 2.5rem;
  --heading-two: 2rem;
  --heading-three: 1.5rem;
  --heading-four: 1.25rem;
  --button-size: 1.5rem;
  --p-size: 1.125rem;
  --regular-size: 1rem;
  --small-size: 0.875rem;
  --font-one: "Inter", sans-serif;
  --button-font: "Manrope", sans-serif;
  --header-font: "Plus Jakarta Sans", sans-serif;

  /****** colors ****/

  --steel-blue-color: #96c3d7;
}
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: none;
  font-size: 16px;
  font-family: var(--font-one), sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1 {
  font-size: var(--heading-one);
  font-family: var(--header-font);
  font-family: var(--header-font);
}

h2 {
  font-size: var(--heading-two);
  font-family: var(--header-font);
}

h3 {
  font-size: var(--heading-three);
  font-family: var(--header-font);
}

h4 {
  font-size: var(--heading-four);
  font-family: var(--header-font);
}
p {
  font-size: var(--regular-size);
}
section {
  padding: var(--app-padding);
}

.big-btn {
  font-size: var(--button-size);
  width: 278px;
  height: 72px;
  font-weight: 700;
  cursor: pointer;
}

.small-btn {
  width: 221px;
  height: 61px;
  font-size: var(--regular-size);
  font-weight: 600;
  font-family: var(--button-font);
  cursor: pointer;
}

@media screen and (max-width: 1204px) {
  section {
    padding: 0 100px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  .big-btn {
    font-size: var(--regular-size);
    width: 258px;
    height: 72px;
    font-weight: 700;
  }
  section {
    padding: 0 50px;
  }
}

@media screen and (max-width: 376px) {
  section {
    padding: 0 30px;
  }
}
